body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image-resize {
    width: 500px;
    aspect-ratio: 1/1;
    object-fit: cover; 
}

.item-container {
    position: relative;
}

.active {
    display: block;
}

.item {
    display: none;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px; /* Imposta la dimensione della freccia a tuo piacimento */
    color: white;
    padding: 5px;
    border-radius: 5px;
    background-color: black;
}

.arrow-left {
    left: 80px;
}

.arrow-right {
    right:80px;
}
